# torch and torch-bessel version specifications
# Depending on your system, you may replace "cpu" with "cu124" or "cu126" for GPU support.
# You may also replace "2.6.0" with a newer version of torch, though correctness is not
# guaranteed since the code is tested with torch==2.6.0. The list of valid combinations
# of torch version and cuda version, as well as further explanations of how to choose
# them, can be found at https://github.com/hchau630/torch-bessel.
torch==2.6.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch-bessel==0.0.10
-f https://torch-bessel.s3.us-east-2.amazonaws.com/whl/torch-2.6.0%2Bcpu.html

# benchmarking requirements
asv  # for benchmarking

# testing requirements
pytest
pytest-cov  # pytest coverage plugin
packaging  # dynamic version filtering

# development requirements
ruff  # code linting and formatting

-e .
